<!DOCTYPE html>
<html>
<head>
    <title>View Assistance Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
</head>
<body>
    <header>
        <h1>View Patient Assistance Requests</h1>
        <h2><a href="{{ url_for('mr_dashboard') }}">Back to Dashboard</a></h2>
    </header>
    <br>
    <hr>
    <br>
    <section>
    <table>
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Medicine</th>
                <th>Doctor</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{ request.patient_name }}</td>
                    <td>{{ request.medicine.name }}</td>
                    <td>Dr. {{ request.doctor.name }}</td>
                    <td>{{ request.reason }}</td>
                    <td>{{ request.status }}</td>

                    {%if request.status == 'Pending'%}
                    <td>
                        <form method="POST" action="{{ url_for('view_assistance_requests') }}">
                            <input type="hidden" name="request_id" value="{{ request.id }}">
                            <button type="submit" name="action" value="approve">Approve</button>
                            <button type="submit" name="action" value="reject">Reject</button>
                        </form>
                    </td>
                    {%else%}
                    <td>Completed</td>
                    {%endif%}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<br>
    <hr>
    <footer>
        
        <br>
        <h3 style="margin: 20px; text-align-last: center;"> Smile You   are   a   Sevabhav   Member</h3>
        <br>
    </footer>
</body>
</html>
